/* Estilos del menú lateral */
.side-menu {
  position: fixed;
  top: 0;
  left: -250px; /* Oculto fuera de la pantalla */
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  transition: left 0.3s ease;
  padding-top: 60px;
  z-index: 1000;
  display: flex;
  flex-direction: column; /* Asegura que los elementos se alineen verticalmente */
}

/* Para mantener el mensaje siempre en la parte inferior */
.side-menu .powered_message {
  margin-top: auto; /* Empuja el mensaje hacia abajo */
  padding-bottom: 70px;
  text-align: center;
  color: #808080;
}

.side-menu .powered_message p {
  font-size: 12px;
}

.side-menu .powered_message h3 {
  font-size: 12px;
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.side-menu ul li {
  padding: 16px;
}

.side-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
}

.side-menu ul li a:hover {
  background-color: #575757;
}

/* Estilos para las sub-secciones */
.side-menu ul li ul.sub-menu {
  display: none; /* Oculta las sub-secciones por defecto */
  padding-left: 20px; /* Sangría para las sub-secciones */
}

.side-menu ul li:hover ul.sub-menu {
  display: block; /* Muestra las sub-secciones al hacer hover */
}

.side-menu ul li ul.sub-menu li {
  padding: 10px 0; /* Menos padding para las sub-secciones */
}

.side-menu ul li ul.sub-menu li a {
  font-size: 16px; /* Tamaño de fuente más pequeño para las sub-secciones */
}

/* Cuando el menú está activo */
.side-menu.active {
  left: 0; /* Mueve el menú dentro de la pantalla */
  z-index: 1000;
}

/* Icono de la barra de menú */
#menu-icon {
  font-size: 15px;
  cursor: pointer;
  padding: 20px;
}

#close-menu-icon {
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
}
