body {
  margin:  0;
  padding: 0;
  font-family: "montserrat";
  background-color: #ffdec4;
}

header {
  top: 0;
  background-color: #bf2e33;
  padding: 1%;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centra verticalmente los elementos */
}

header img {
  width: auto;
  height: 100%;
  margin-right: 20px; /* Ajusta el espacio a la derecha del logo */
}

main { 
  background-color: #ffdec4;
  margin-top: 60px;
}

.fade-in {
  opacity: 0; /* Inicialmente invisible */
  transform: translateY(50px); /* Inicia un poco desplazado hacia abajo */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Transición suave */
}

/* Clase activa para hacer visible el elemento */
.fade-in.visible {
  opacity: 1; /* Totalmente visible */
  transform: translateY(0); /* Regresa a la posición original */
}


