/* Estilos para el contenedor principal */
main {
    padding: 5%;
}

.title-h1 {
    width: 95%;
    padding-left: 3%;
    background-color: rgba(20, 14, 14, 0.356);
}

/* Contenedor para las noticias */
.noticias-container {
    display: flex; /* Activar Flexbox */
    justify-content: center; /* Centrar los elementos horizontalmente */
    flex-wrap: wrap; /* Permitir que los elementos se muevan a la siguiente línea si es necesario */
    gap: 20px; /* Espacio entre los elementos */
    padding: 5%; /* Espaciado interno alrededor del contenedor */
}

/* Estilos para cada noticia */
.noticia {
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    text-align: left;
    padding: 5%;
    flex: 1 1 calc(33.333% - 20px); /* Flexbox: toma 1/3 del ancho disponible menos el espacio entre elementos */
    min-height: 200px; /* Altura mínima para cada noticia */
    display: flex;
    flex-direction: column; /* Organiza el contenido en columna */
    box-sizing: border-box; /* Incluir padding y borde en el tamaño total */
}

/* Imagen dentro de cada noticia */
.noticia img {
    width: 100%;
    height: auto; /* Mantener la relación de aspecto de la imagen */
}

/* Título de cada noticia */
.noticia h2 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin: 10px 0; /* Espacio alrededor del título */
}

/* Párrafo dentro de cada noticia */
.noticia p {
    color: rgba(128, 128, 128, 0.719);
    margin: 0; /* Quitar márgenes para ajustar la altura */
    flex-grow: 1; /* Permitir que el párrafo se expanda y llene el espacio restante */
}

/* Adaptación a pantallas más pequeñas */
@media (max-width: 769px) {
    .noticia {
        flex: 1 1 100%; /* Ocupar el ancho completo en pantallas pequeñas */
    }
}
